<h1 class="page-header"><%= @player_name %> Activity</h1>
<ul class="nav nav-pills nav-justified">
  <li role="presentation" class="active"><a href="#">ALL</a></li>
  <li role="presentation"><a href="#">Higher</a></li>
  <li role="presentation"><a href="#">Lower</a></li>
</ul>
<table class="table">
  <thead>
    <tr>
      <td>Tournament</td>
      <td>Round</td>
      <td>Player(Rank)</td>
      <td>Opponet Player(Rank)</td>
      <td>Score</td>
      <td>W-L</td>
    </tr>
  </thead>
  <tbody>
  <% @activities.each do |activity| %>
    <tr class="<%= 'success' if activity.win_loss == 'W' %>">
      <td><%= activity.tournament_name %>(<%= activity.year %>)</td>
      <td><%= activity.round %></td>
      <td><%= activity.player_name %> (<%= activity.player_rank %>)</td>
      <td><%= activity.opponent_name %> (<%= activity.opponent_rank %>)</td>
      <td><%= activity.score %></td>
      <td><%= activity.win_loss%></td>
    </tr>
  <% end %>
  </tbody>
</table>
