<h1 class="page-header"><%= @player_name %> Activity</h1>
<ul>
  <li><a href="/activity/<%= @player_url_name %>/<%= @year %>">ALL</a></li>
  <li><a href="/activity/vstop10/<%= @player_url_name %>/<%= @year %>">VS Top10</a></li>
  <li><a href="/activity/higher/<%= @player_url_name %>/<%= @year %>">Higher</a></li>
  <li><a href="/activity/lower/<%= @player_url_name %>/<%= @year %>">Lower</a></li>
</ul>
<table class="table">
  <thead>
    <tr>
      <td>Tournament</td>
      <td>Round</td>
      <td>Player(Rank)</td>
      <td>Opponet Player(Rank)</td>
      <td>Score</td>
      <td>W-L</td>
    </tr>
  </thead>
  <tbody>
  <% @activities.each do |activity| %>
    <tr class="<%= 'success' if activity.win_loss == 'W' %>">
      <td><%= activity.tournament_name %>(<%= activity.year %>)</td>
      <td><%= activity.round %></td>
      <td><%= activity.player_name %> (<%= activity.player_rank %>)</td>
      <td><%= activity.opponent_name %> (<%= activity.opponent_rank %>)</td>
      <td><%= activity.score %></td>
      <td><%= activity.win_loss%></td>
    </tr>
  <% end %>
  </tbody>
</table>
